* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(65, 69, 89, 0.85);
}

button {
  border-radius: 24px;
  border-color: #ca9ee6;
  border-style: solid;
  border-width: 1px;
  text-decoration-color: white;
  color: white;
  background-color: rgba(35, 38, 52, 0.85);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  margin: 200px;
}

button:focus,
button:active,
button:hover {
  background-color: #8caeee;
  outline-style: none;
}

#lock {
  background-image: image(
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
